# IDE and Editor Configuration Files
.idea/
.vscode/

# Python Virtual Environment
.venv/
venv/
env/

# Python Compiled Files and Caches
__pycache__/
*.pyc
*.pyo
.ruff_cache/

# Operating System Files
.DS_Store
.DS_Store?
._*
Thumbs.db
Desktop.ini
